.tarjeta {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.tarjeta h1, .tarjeta p {
    margin: 5px 0;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}